{% extends "webapp/homeheader.html" %}
{% load staticfiles %}
{% block content %}
<div id="About">
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h1 id="About-Me">About Me</h1>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Welcome to my About page! Here you get to learn all about me.</p>
<p>I enjoy basketball and sand volleyball in the summer. I live in Chicago, IL.</p>
<p>Curiosity years ago led me to wonder how a computer works this site is the result of that.</p>
<p>I have been working with python for 5 years now. 
<p>I work as chemical engineer.  I am amazed at how fast the developments come in the data science field.</p>
<p>I completed the fast.ai MOOC and try to absorb as much of Rachel and Jeremy Howards teachings as I can.</p>
</div>
</div>
</div>
</div>
{% endblock %}

